/* _press.scss */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

div.press
    +flex
    width: 100%
    max-width: 812px
    margin: 150px auto
    +tablet
      width: 94%
    +tiny
        padding-left: 40px
        padding-right: 40px
        margin: 90px auto

    div.main-image
        @media(max-width: 850px)
            max-height: 250px
            order: 2

    div.main-image,
    div.press-clipping
        +img
        flex: 0 0 50%
        margin-bottom: 150px
        @media(max-width: 850px)
            flex: 0 0 100%
            margin-bottom: 0
            margin-top: 0
            max-height: 344px;


        h3,
        h2,
        div.publication
            position: relative
            z-index: 100

        h2
            margin-bottom: 42px

        h3
            margin-bottom: 25px

    div.press-clipping
        margin-top: 140px
        @media(max-width: 850px) 
            margin-bottom: 90px
            margin-top: 0
            order: 1

    div.press-clipping ~ div.press-clipping
        flex: 0 0 100%
        margin-bottom: 0
        margin-top: 0
        @media(max-width: 850px)
            margin-top: 90px
            order: 3

        h3,
        div.publication
            width: 100%
            max-width: 406px
    
    // even press clippings
    div.press-clipping:nth-child(2n+3)
        h3,
        div.publication
            padding-right: 27px
            +tiny
                padding-right: 0
   
    // odd press clippings excluding #1
    div.press-clipping:nth-child(2n+4)
        h3,
        div.publication
            margin-left: auto
            padding-left: 27px
            +tiny
                margin-left: 0
                padding-left: 0

    span.link
        &:hover
            padding-bottom: 7px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4 */

div.press
    h2,
    h3
        @extend %HeadlineSerif

    div.publication
        @extend %LinkGoth
        text-transform: uppercase

        a
            color: $navy

    span.link 
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid $navy
        &:hover
            border: none

            a
                color: $gold